.header {
    background-color: $color-header-bg;
    position: relative;
    max-width: 100vw;
    margin-left: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1;

    &__logo {
        font-size: $font-size-xl;
    }
    ul {
        list-style: none;
        
        .nav-link {
            padding: $space-xs $space-m;
            transition: background 0.3s ease-in-out;

            &:hover {
                background-color: #bfdbf7;
            }
        }
    }

    .mega {
        &:hover {
            .mega-menu {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .mega-menu {
        position: absolute;
        left: 0;
        width: 80vw;
        top: 80px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
       
        .content {
            background-color: $color-header-bg;
            padding: $space-xs;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: var(--space-m);
            width: 100%;
            justify-content: space-between;

            .col {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                line-height: $space-xxxl;

                h2 {
                    color: $color-primary-rotate;
                    font-size: $font-size-xxl;
                    line-height: $space-xxxl;
                    font-weight: bold;
                }

                p {
                    line-height: $line-height-headers;
                }

                .read-more {
                    color: $color-text-section;
                    font-size: $font-size-m;
                    font-weight: bold;

                    &:hover {
                        color: $color-primary-rotate;
                    }
                }

                section {
              
                    .image-wrapper {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 20vh;
                    overflow: hidden;

                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }

                    .img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    img {
                        width: 100%;
                        transition: transform 0.3s ease-in-out;
                    }
                }
                }

                .mega-links {
                    border-left: 1px solid $color-text-header;

                    li, a {
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
    &__menu {
        display: flex;
        align-items: center;

        .f-size {
            font-size: 1rem;
            font-weight: bolder;
            color: green;
        }
        &__item {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .dropdown {
            position: relative;
            
            &:hover {
                .dropdown-menu {
                    top: 34px;
                    opacity: 1;
                    visibility: visible;
                }
            }
            .menu-right {
                top: 0;
                left: 100%;
            }
        }
        .dropdown-menu, .menu-right {
            position: absolute;
            background-color: $color-header-bg;
            width: 100%;
            top: 50%;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
        .dropdown-right {
            &:hover {
                .menu-right {
                    top: 34px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    a {
        text-decoration: none;
        color: $color-white;
    }
}
