.btn {
    background-color: $color-text-section;
    width: 50%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    margin: 10px 10px 10px 0;
    padding: 11px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;

    &--mid {
        width: 100%;
    }
}