section {
    border: 1px solid rgb(222, 222, 222);
    background-color:   #f8d7da;

    header {

        h2 {
            color: orange;
        }

        h3 {
            color: orangered;
        }

        ul {
            list-style: none;

            li {
                border-bottom: 1px solid rgb(222, 222, 222);
                color: rgb(0, 0, 0);
                font-size: 0.9rem;
            }
        }
    }
}
