@import '../abstracts/mixins';
@import '../abstracts/variables';

.form {
    position: relative;
    @include width_and_height(380px, 120px);
    background-color: $color-header-bg;
    overflow: hidden;

    &--lg {
        @include width_and_height(380px, 120px);
    }
    &--mid {
        @include width_and_height(380px, 420px);
    }

    &::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        @include width_and_height(380px, 420px);
        background: linear-gradient(0deg, transparent, transparent, $color-text-section, $color-text-section);
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
    }

    &::after {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
         @include width_and_height(380px, 420px);
        background: linear-gradient(0deg, transparent, transparent, $color-text-section, $color-text-section);
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -3s;
    }

    &__box {
        position: absolute;
        inset: 2px;
        background-color: red;
        border-radius: 8px;
        z-index: 10;
        padding: 40px 50px;
        display: flex;
        flex-direction: column;

        h2 {
            color: $color-text-section;
            font-weight: 500;
            text-align: center;
            letter-spacing: 0.1rem;
        }



        .links {
            display: flex;
            justify-content: space-between;

            a {
                margin: 10px 0;
                font-size: 1rem;
                color: $color-text-muted;

                &:hover, &:nth-child(2) {
                    color: $color-text-section;
                }
            }
        }
    }

    &__group {
        position: relative;
        width: 300px;
        margin-top: 25px;

        span {
            position: absolute;
            left: 0;
            padding: 20px 10px 10px;
            font-size: 1em;
            pointer-events: none;
            color: $color-text-muted;
            letter-spacing: 0.05rem;
            transition: 0.5s;
        }
       
        i {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $color-text-section;
            border-radius: 4px;
            transition: 0.5s;
            pointer-events: none;
            z-index: 9;
        }
       
    }

    &__input {
        position: relative;
        width: 100%;
        padding: 20px 10px 10px;
        background: transparent;
        border: none;
        outline: none;
        color: $color-input;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        z-index: 10;

        &:focus {
            ~{
                span {
                    transform: translateX(-10px) translateY(-34px);
                    font-size: 0.8rem;
                    color: $color-text-section;
                }
                i {
                    height: 90%;
                }
               
            }

        }

        &:valid {
            ~{
                span {
                    transform: translateX(-10px) translateY(-34px);
                    font-size: 0.8rem;
                    color: $color-text-section;
                }
                i {
                    height: 90%;
                }
               
            }

        }

      
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 40px;

        input {
            width: 20px;
            height: 20px;
            background-color: $color-header-bg;
            border: 1px solid $color-text-muted;
            border-radius: 4px;
            outline: none;
            appearance: none;
            cursor: pointer;
            transition: 0.5s;
            margin-right: 10px;
            z-index: 10;

            &:checked {
                background-color: $color-text-section;
                border: 1px solid $color-text-section;
            }

            &:checked ~ label {
                color: $color-text-section;
            }
        }

        label {
            color: $color-text-muted;
            font-size: 1rem;
            letter-spacing: 0.05rem;
            z-index: 10;
        }
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.flash.alert {
    color: white;
    z-index: 100;
    font-weight: bolder;
    font-size: 1.6rem;
}