.flash-message {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 3px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #000;
    .flash{
        &.notice {
            background-color: #00ff00;
        }
        &.alert {
            background-color: #ff0000;
        }
        &.success {
            background-color: #d4edda;
            color: black;
        }
    }
   
}